<nav class="flex flex-row">
    <div class="flex shadow-md justify-around items-center w-full fixed py-8 text-white bg-gradient-to-r from-green-500 to-green-700">
        <div class="mx-3">MEAT MARKET</div>
        <div>
            <ul class="list-reset lg:flex justify-end flex-1 items-center">
                <li class="mr-3">
                    <%= link_to "Home", root_path %>
                </li>
                <li class="mr-3">
                    <%= link_to "About", home_about_path %>
                </li>
            </ul>
        </div>
    </div>
</nav>